<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamazing.springbootshirodemo.dao.PermDao">
    <resultMap id="AllFieldsResultMap" type="com.gamazing.springbootshirodemo.entity.Perm">
        <result column="id"                     property="id"/>
        <result column="user_id"                property="userId"/>
        <result column="permission"             property="permission"/>
    </resultMap>

    <sql id="table">`perm`</sql>

    <select id="findOneByUserId" resultMap="AllFieldsResultMap">
        select
          `id`,`user_id`,`permission`
        from
          <include refid="table"/>
        where
          `user_id` = #{userId}
    </select>

</mapper>
